<!-- myapp/templates/myapp/result.html -->
{% load static %}  <!-- Make sure to load the static template tag -->

<!-- myapp/templates/myapp/output_graph.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Output Graph</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Output Graph</h1>
        <div class="input-values">
            <h2>Input Values:</h2>
            <p>Value of 'a': {{ a }}</p>
            <p>Value of 'n': {{ n }}</p>
            <p>Value of 'm': {{ m }}</p>
            <p>Value of 'soil_suction_r': {{ soil_suction_r }}</p>
        </div>
        <div class="wanted-values">
            <h2>Optimal Values:</h2>
            <p>Optimal value of 'optimal_a': {{ optimal_a }}</p>
            <p>Optimal value of 'optimal_n': {{ optimal_n }}</p>
            <p>Optimal value of 'optimal_m': {{ optimal_m }}</p>
            <p>Optimal of 'optimal_soil_suction_r': {{ optimal_soil_suction_r }}</p>
        </div>
            <h2>Graphs</h2>
            <div class="graphs-container">
                <div class="graph">
                  <img src="{% static 'soil_water_characteristics_curve.png' %}" alt="Water Content Graph">
                    <p>Water Content Graph</p>
                </div>
                <div class="graph">
                  <img src="{% static 'pore_size_distribution.png' %}" alt="Pore-Size Distribution Graph">
                    <p>Pore-Size Distribution Graph</p>
                </div>
            </div>
            <div class="graphs-container">
                <div class="graph">
                  <img src="{% static 'optimal_soil_water_characteristics_curve.png' %}" alt="Water Content Graph">
                    <p>Optimal Water Content Graph</p>
                </div>
                <div class="graph">
                  <img src="{% static 'optimal_pore_size_distribution.png' %}" alt="Pore-Size Distribution Graph">
                    <p>Optimal Pore-Size Distribution Graph</p>
                </div>
            </div>
</body>
</html>
  